<div class="onovas_add_calendar_container__countdown">
  <ul>
    <li>
      <span class="onovas_add_calendar_container__countdown__number onovas_add_calendar_container__countdown__number_days" id="counter-twig-days"></span>
      <span class="onovas_add_calendar_container__countdown__label">{{ "Days" | t }}</span>
    </li>
    <li>
      <span class="onovas_add_calendar_container__countdown__number onovas_add_calendar_container__countdown__number_hours" id="counter-twig-hours"></span>
      <span class="onovas_add_calendar_container__countdown__label">{{ "Hours" | t }}</span>
    </li>
    <li>
      <span class="onovas_add_calendar_container__countdown__number onovas_add_calendar_container__countdown__number_minutes" id="counter-twig-minutes"></span>
      <span class="onovas_add_calendar_container__countdown__label">{{ "Minutes" | t }}</span>
    </li>
    <li>
      <span class="onovas_add_calendar_container__countdown__number onovas_add_calendar_container__countdown__number_seconds" id="counter-twig-seconds"></span>
      <span class="onovas_add_calendar_container__countdown__label onovas_add_calendar_container__countdown__label_small">{{ "Seconds" | t }}</span>
    </li>
  </ul>
</div>
